.height-722px {
    height: 722px;
}

.background-image-primeira-section {
    background-image: url(https://images01.nicepage.com/0d/67/0d67519895d75e8877309f035cda8c21.jpeg);
    background-position: center;
    background-size: cover;
    height: 800px;
}

.div-min-height {
    min-height: 334px;
    width: 1003px;
    height: auto;
    margin: 330px auto 60px 0;
}

.padding-30px {
    padding: 30px 0 0 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.padding-30px h1 {
    font-weight: 700;
    font-size: 6rem;
    margin: 0 20px 0 0;
    font-family: Roboto,sans-serif !important;
    line-height: 1.1;
    color: #ffffff;
}

.padding-30px p {
    font-size: 1.25rem;
    margin: 27px 196px 0 0;
    color: #ffffff;
}

.div-widht {
    width: 80px;
    transform-origin: left center 0;
    margin: 13px auto 0 0;
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
}

.widht-494px {
    width: 494px;
    min-height: 316px;
    margin: 10px auto 0 16px;
}

.justify-content-center-segunda-section {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.justify-content-center-segunda-section h2 {
    margin: 50px 20px 0;
    font-size: 2.25rem;
    line-height: 1.1;
    font-weight: 400;
    font-family: 'Playfair Display', serif !important;
}

.justify-content-center-segunda-section p {
    margin: 20px 20px 30px;
    font-family: 'Open Sans',sans-serif;
    width: 423px;
}

.justify-content-center-segunda-section img {
    height: 344px;
    object-position: 50% 100%;
}

.div-flex-direction-column {
    flex-direction: column;
    height: 485px;
    flex: 1 1 100%;
    display: flex;
    box-sizing: border-box;
}

.div-flex-direction-column img {
    object-position: 50% 85.2%;
    margin-top: 70px;
    margin-right: auto;
    margin-left: -100px;
    width: 623px;
    height: 402px;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.box-sizing-border-box {
    box-sizing: border-box;
    border: 13px solid transparent;
    margin-left: -40px;
}

.background-image-segunda-section {
    background-image: url(https://images01.nicepage.com/df/21/df21f4103e1ccd293e25958758e515ee.jpeg);
    background-position: center;
    background-size: cover;
    min-height: 155px;
}

.background-image-2-segunda-section {
    background-image: url(https://images01.nicepage.com/d2/48/d24809835c11161437746d663ca2a303.jpeg);
    background-position: center;
    background-size: cover;
    min-height: 155px;
}

.background-image-3-segunda-section {
    background-image: url(https://images01.nicepage.com/af/39/af39537dc15a183750c34218f01c36e3.jpeg);
    background-position: center;
    background-size: cover;
    min-height: 155px;
}



/* Responsivo */

@media (max-width: 320px) { 
    .div-min-height {
        min-height: 334px;
        width: 290px;
        height: auto;
        margin: 120px auto 60px 0;
    }

    .background-image-primeira-section {
        height: 520px;
    }

    .padding-30px h1 {
        font-weight: 700;
        font-size: 3rem;
        margin: 0 20px 0 0;
        font-family: Roboto,sans-serif !important;
        line-height: 1.1;
        color: #ffffff;
    }

    .padding-30px p {
        font-size: 1.15rem;
        margin: 27px 65px 0 0;
        color: #ffffff;
    }

    .widht-494px {
        min-height: 257px;
        margin: 10px auto 0 16px;
        text-align: center;
        width: 242px;
    }

    .justify-content-center-segunda-section p {
        margin: 20px 20px 30px;
        font-family: 'Open Sans',sans-serif;
        width: unset !important;
    }

    .justify-content-center-segunda-section h2 {
        margin: 50px 20px 0;
        font-size: 1.9rem;
        line-height: 1.1;
        font-weight: 400;
        font-family: 'Playfair Display', serif !important;
    }

    .justify-content-center-segunda-section img {
        height: 290px;
        object-position: 50% 100%;
    }

    .div-flex-direction-column img {
        margin-top: 30px;
        margin-left: 17px;
        width: 240px;
    }

    .box-sizing-border-box {
        box-sizing: border-box;
        border: 15px solid transparent;
        margin-left: -10px;
    }

    .background-image-2-segunda-section {
        min-height: 155px;
        margin-top: 20px;
    }

    .background-image-3-segunda-section {
        min-height: 155px;
        margin-top: 20px;
    }

    .height-722px {
        height: 1825px;
    }

}
  
@media (min-width: 321px) and (max-width: 375px) {
    .div-min-height {
        min-height: 334px;
        width: 340px;
        height: auto;
        margin: 120px auto 60px 0;
    }

    .background-image-primeira-section {
        height: 520px;
    }

    .padding-30px h1 {
        font-weight: 700;
        font-size: 3.4rem;
        margin: 0 20px 0 0;
        font-family: Roboto,sans-serif !important;
        line-height: 1.1;
        color: #ffffff;
    }

    .padding-30px p {
        font-size: 1.25rem;
        margin: 27px 65px 0 0;
        color: #ffffff;
    }

    .widht-494px {
        min-height: 257px;
        margin: 10px auto 0 16px;
        text-align: center;
        width: 305px;
    }

    .justify-content-center-segunda-section p {
        margin: 20px 20px 30px;
        font-family: 'Open Sans',sans-serif;
        width: unset !important;
    }

    .div-flex-direction-column img {
        margin-top: 30px;
        margin-left: 17px;
        width: 305px;
    }

    .box-sizing-border-box {
        box-sizing: border-box;
        border: 5px solid transparent;
        margin-left: 0px;
    }

    .background-image-2-segunda-section {
        min-height: 155px;
        margin-top: 20px;
    }

    .background-image-3-segunda-section {
        min-height: 155px;
        margin-top: 20px;
    }

    .height-722px {
        height: 1825px;
    }

}
  
@media (min-width:  376px) and (max-width: 576px) {   
    .div-min-height {
        min-height: 334px;
        width: 400px;
        height: auto;
        margin: 190px auto 60px 0;
    }

    .background-image-primeira-section {
        height: 600px;
    }

    .padding-30px h1 {
        font-weight: 700;
        font-size: 4rem;
        margin: 0 20px 0 0;
        font-family: Roboto,sans-serif !important;
        line-height: 1.1;
        color: #ffffff;
    }

    .padding-30px p {
        font-size: 1.25rem;
        margin: 27px 65px 0 0;
        color: #ffffff;
    }

    .widht-494px {
        min-height: 257px;
        margin: 10px auto 0 16px;
        text-align: center;
        width: 345px;
    }

    .justify-content-center-segunda-section p {
        margin: 20px 20px 30px;
        font-family: 'Open Sans',sans-serif;
        width: unset !important;
    }

    .div-flex-direction-column img {
        margin-top: 30px;
        margin-left: 17px;
        width: 345px;
    }

    .box-sizing-border-box {
        box-sizing: border-box;
        border: 15px solid transparent;
        margin-left: -8px;
    }

    .background-image-2-segunda-section {
        min-height: 155px;
        margin-top: 20px;
    }

    .background-image-3-segunda-section {
        min-height: 155px;
        margin-top: 20px;
    }

    .height-722px {
        height: 1825px;
    }

}
  
@media (min-width: 577px) and (max-width: 768px) {
    .div-min-height {
        min-height: 334px;
        width: 730px;
        height: auto;
        margin: 330px auto 60px 0;
    }

    .widht-494px {
        width: 662px;
        min-height: 316px;
        margin: 10px auto 0 16px;
        text-align: center;
    }

    .justify-content-center-segunda-section p {
        margin: 20px 20px 30px;
        font-family: 'Open Sans',sans-serif;
        width: unset !important;
    }

    .div-flex-direction-column img {
        margin-top: 35px;
        margin-left: 15px;
        width: 662px;
    }

    .box-sizing-border-box {
        box-sizing: border-box;
        border: 20px solid transparent;
        margin-left: -15px;
        margin-top: 20px;
    }

    .height-722px {
        height: 1350px;
    }

}
  
@media (min-width: 769px) and (max-width: 992px) {
    
}
  
@media (min-width: 993px) and (max-width: 1200px) {  
    .div-min-height {
        min-height: 334px;
        width: 965px;
        height: auto;
        margin: 330px auto 60px 0;
    }

    .widht-494px {
        width: 475px;
        min-height: 316px;
        margin: 10px auto 0 16px;
    }

    .div-flex-direction-column img {
        object-position: 50% 85.2%;
        margin-top: 70px;
        margin-right: auto;
        margin-left: -27px;
        width: 470px;
        height: 402px;
        object-fit: cover;
        display: block;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .box-sizing-border-box {
        box-sizing: border-box;
        border: 13px solid transparent;
        margin-left: 10px;
    }

}
  
@media (min-width: 1201px) {
    
}